.focus_layer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

}

.content_layer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#add_layer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    width: 640px;
    height: 480px;
    cursor: crosshair;
}
.canvas_holder {
    position: relative;
    left: 0;
    top: 0;
    width: 640px;
    height: 480px;
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.canvas_dialog {
    display: none;
    overflow: visible !important;
}

.dialog_dynamic_container {
    overflow-y: visible;
}

#flowerManager {
    height: 400px;
    width: 1000px;
}

.bg-page {
    background-color: #00fa9a;
    color: #ffffff;
}

.bg-controls {
    background-color: #20b2aa;
    color: #000000;
}

.bg-canvas-control {
    background-color: #006400;
    color: #000000;
}

.bg-canvas {
    background-color: #603920;
    color: #000000;
}

.bg-info {
    background-color: #20b2aa;
    color: #000000;
}

.container-fluid {
    padding-bottom: 15px;
}



